@font-face {
    font-family: "Instrument Serif";
    src: url("fonts/InstrumentSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900 900;
    font-style: normal;
}

a:link {
  font-weight: 700;
  color: #7a7a7a;
}

a:visited {
  color: #7a7a7a;
}

a:hover {
  color: #171717;
}

a:active {
  font-weight: 900;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin: 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.15em;
    letter-spacing: 0.05em;
    margin: 0;
}

p {
    max-width: 32em;
    white-space: pre-wrap;
    margin: 0;
    color: #555;
}

body, html {
    box-sizing: border-box;
    width: 99%;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    font-smooth: always;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.4;
    padding: 1em 0;
    color: #171717;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

body > div {
    padding: 0 1.5em;
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding-bottom: 0.5em;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
    align-items: baseline;
    align-content: flex-start;
    background-color:rgba(255, 255, 255, 0.35);
    text-shadow: white 0 0 40px, white 0 0 40px, white 0 0 40px;
}

#title {
    font-family: 'Instrument Serif', sans-serif;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
}

#title > a {
    text-decoration: none;
    color: inherit;
}

#links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 1em;
}

.about-link {
    list-style: none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

#content {
    display: flex;
    flex-direction: column;
}

#about {
    margin-bottom: 1.5em;
}

#page-description {
    margin-bottom: 1em;
}

#section-links {
    padding: 0;
    margin: 0;
    display: flex;
    height: 600px;
    gap: 0.8em;
}

.section-link {
    background-color: #171717;
    z-index: 5;
    list-style: none;
    width: 0;
    flex-grow: 1;
}

.section-link h3:hover {
    font-weight: 900;
}

.section-link-text {
    position: absolute;
    z-index: 10;
    padding: 0.5em 1em;
    color: white;
    text-shadow: black 0 0 30px, black 0 0 30px
}

.section-link-image {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-link-image:hover {
    opacity: 1;
}

#pieces {
    padding: 0;
    margin: 0;
}

.piece {
    list-style: none;
    margin: 1em 0 2em;
}

.piece-description {
    margin-bottom: 0.5em;
}

.piece-images {
    padding: 0;
    list-style: none;
}

.image-list-item {
    display: inline-block;
}

.piece-media {
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.33);
    margin: 0.4em 0.8em 0.4em 0;
}

.piece-image {
    max-height: 24em;
    max-width: 24em;
}

.piece-video {
    max-width: 40em;
    height: auto;
    background-color: #171717;
}

@media (max-width: 900px) {

    #section-links {
        flex-direction: column;
    }

    .section-link {
        width: auto;
        height: 0;
    }

}

@media only screen and (max-width: 600px) {

    #header {
        padding-top: 0.5em;
        gap: 1em;
    }
    
    #title {
        font-size: 2.3em;
    }

    h2 {
        font-size: 1.2em
    }

    h3 {
        font-size: 1.15em;
    }
    
    body {
        font-size: 1em;
    }

    .icon {
        width: 1.2em;
        height: 1.2em;
    }

    .piece-media {
        width: 100%;
        height: auto;
        max-height: none;
    }

    .piece-video {
        max-width: 100%;
    }

}
